<div class="row register-page">
    <div class="col s12">
        <form class="register-form center">
            <div class="card-panel">
                <div class="card-content">
                    <span class="card-title"><h3>Create Account</h3></span>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" class="validate" required="">
                            <label for="name">Name</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" required="">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" required="">
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="re-password" type="password" class="validate" required="">
                            <label for="re-password">Re-Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light light-blue col s12" type="submit"
                                    name="action">Register
                            </button>
                        </div>
                    </div>
                    <p class="center">Already have an account? <a href="login.html">Sign In</a></p>
                </div>
            </div>
        </form>
    </div>
</div>